<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shakermade.luckynumbers" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lucky Numbers</name>
    <description>
        Lucky Numbers Random Lottery Numbers Generator
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <engine name="android" spec="~6.2.3" />
<platform name="ios">
    <preference name="orientation" value="portrait"/>
  </platform>
</widget>
