body#bodyImage {
    background-image: url('../img/LaunchSplit.jpg');
    background-size:cover;
}
div#getNums{ 
    width:35%;
    margin:auto;
    padding-top:1px;
    padding-bottom:1px;
    background-color:#f0fc06;
    margin-top:400px;
    /* border: 1px solid #454545; */
    border-radius: 3px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#getNums a{
    font-size:20px;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;    
}
#headerBar {
    background-color:#43f722;
}
#headerBar h1 {
    margin:0px;
}